
  

#location{
  background: var(--light);
  border-radius: 20px 20px 0 0;
  position: fixed;
  bottom:0;
  left: 0;
  width:100%;
  z-index: 100;
  height: 400px;
  padding-bottom: 40px;

  @media(min-width: 1000px){
    max-width: 400px;
    top: 20%;
    left: calc(50% - 200px);
    bottom: unset;
   box-shadow: 0px 0px 0px 100vw rgba(0,0,0,.5);
    border-radius: 20px;
}

}

#top-bar{
  box-shadow: var(--shadow);
  background: var(--theme);
  height: 40px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  position: relative;
  .location-name{
    color:white;
    font-family: var(--font1);
    font-size: 20px;
    line-height: 40px;
    padding-left: 20px;
  }

  #close-location{
    cursor: pointer;
    position:absolute;
    right:0;top:0;
      text-align: center;
      font-size: 26px;
      padding:7px;
      background: black;
      opacity: .5;
      color:white;
      border-radius: 0px 20px 0 00px;
    }
}


#location-details{
  overflow: scroll;
  height:100%;
    &::after {
      content: "";
      display: block;
      height: 40px;
    }
}

.location-images{
  box-shadow: var(--inset);
  margin: 20px;
  border-radius: 20px;
 overflow-x: scroll;
 white-space: nowrap;
img{
height:150px;
margin:20px;
border-radius: 10px;
box-shadow: var(--shadow);
}
}


#location-details{
  
  @media(min-width: 1000px){
  box-shadow:var(--inset);
  border-radius: 0 0 20px 20px;
  }
  
  .location-about{
    margin:20px;
    padding:20px;
    border:2px solid black;
  }
  
  .action{
    color:var(--theme);
    margin:20px;
    display: block;
    span{
      margin:0 10px;
  font-size: 30px;
    }
  }

.location-coupon{
  margin:20px;
  padding:20px;
  border:2px solid black;
}
}

