
  

#location{
  background: var(--light);
  border-radius: 20px 20px 0 0;
  position: fixed;
  bottom:0;
  left: 0;
  width:100%;
  overflow: scroll;
  z-index: 100;
  height: 400px;

 

}

#top-bar{
  background: var(--theme);
  height: 40px;
  position: fixed;
  width: 100%;
  border-radius: 20px 20px 0 0;
  .location-name{
    color:white;
    font-family: var(--font1);
    font-size: 22px;
    margin:5px 15px;
  }

  #close-location{
    position:absolute;
    right:0;top:0;
      text-align: center;
      font-size: 26px;
      padding:7px;
      background: black;
      opacity: .5;
      color:white;
      border-radius: 0px 20px 0 00px;
    }
}


#location-details{
padding-top: 40px;
    &::after {
      content: "";
      display: block;
      height: 40px;
    }
}

.location-images{
  box-shadow: var(--inset);
  margin: 20px;
  border-radius: 20px;
 overflow-x: scroll;
 white-space: nowrap;
img{
height:150px;
margin:20px;
border-radius: 10px;
box-shadow: var(--shadow);
}
}


#location-details{
  
  
  .location-about{
    margin:20px;
    padding:20px;
    border:2px solid black;
  }
  
  .action{
    color:var(--theme);
    margin:20px;
    display: block;
    span{
      margin:0 10px;
  font-size: 30px;
    }
  }

.location-coupon{
  margin:20px;
  padding:20px;
  border:2px solid black;
}
}




// #location{
//   transition:.3s;
//   transform: translateY(370px);
//   opacity: 0;
//   &.loaded{
//     opacity: 1;
//     transform: translateY(0);
//   }
  
// }
