#tour{
  height:200px;
  width:300px;
  margin:20px auto;
  display: block;
}

.slogan{
  font-size: 30px;
  font-family: var(--font1);
  margin:30px;
}

.about-continue{
  right:0;
  position: fixed;
  bottom:0;margin:20px;
  text-transform: uppercase;
  color:white;
  background: var(--theme);
  display: flex;
  align-items: center;
  span{
    padding-left: 10px;
  }
}