#categories{
  padding-top:60px;
  position: relative;
}

.select-location{
position: absolute;
top:0;right:0;
margin:10px;
font-size: 40px;
transition:.3s;
}

#categories .selected-location{
color:var(--selected);
}

.category{
  white-space: nowrap;
  margin: 20px;
}
.category-name{
  text-transform: capitalize;
  margin:10px 0;
  font-weight: bold;
    font-family: var(--font1);
  font-size: 26px;
}


.categories-info{
  margin:20px;
}

#areas{
  margin:20px;
  .area{
    margin:10px;
    text-transform: capitalize;
  }
}