.filters-info{
  margin: 20px;
  font-size:14px;
.title{
  font-size: 30px;
  font-weight: bold;
  font-family: var(--font1);
}
.info{
opacity: .75;
margin:10px;
}
}

.type{
  margin:20px;
  text-transform: capitalize;
.type-name{
  font-family: var(--font);
  font-size: 20px;
  display: block;
font-weight: bold;
}
}


.interest{
  margin: 10px;
  font-family: var(--font2);
  text-transform: capitalize;
}

.selected{
  background: var(--selected);
color:white;
}

.filters-continue{
  position: fixed;
  text-transform: uppercase;
  bottom:0;
  right: 0;
  margin:20px;
  color:white;
  background: var(--theme);
  display: flex;
  align-items: center;
  span{
    padding-left: 10px;
  }
}

