
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans&display=swap');

:root{
  --shadow:0px 2px 8px -2px  rgba(0,0,0,.25);
--font2:'Roboto', sans-serif;
--font1: 'Work Sans', sans-serif;
--theme:#2962ff;
--selected:#00c853;
--inset: inset 0px 2px 5px 0px rgb(0, 0, 0, 0.75);
--light: rgb(240,240,240);
}

body{
  background: var(--light);
  margin: 0;padding: 0;
  font-family:var(--font2);
  &::after {
    content: "";
    display: block;
    height: 320px;
  }
}


button{
  transition: .3s;
  background: none;
  border:none;
box-shadow: var(--shadow);
font-size: 16px;
padding: 5px 10px;
border-radius: 30px;
}

a{
  text-decoration: none;
}